<h1>Listing friends</h1>

<table>
  <tr>
    <th>User</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @friends.each do |friend| %>
  <tr>
    <td>
      <%= friend.other_user_id %>
    </td>
    <td>
      <%= friend.status %>
    </td>
    <td>
      <% if friend.status == "applicated" then %>
      <%= link_to("Accept", :controller => "friends", :action => :accept, :id => current_user.id, :other_user_id => friend.other_user_id ) %>
      <% end %>
      <%= link_to("Remove", :controller => "friends", :action => :remove, :id => current_user.id, :other_user_id => friend.other_user_id ) %>
    </td>
    <td>
    </td>
  </tr>
<% end %>
</table>


